services:
  postgres:
    image: postgres:17-alpine
    ports:
      - 5432:5432
    env_file:
      - .env.development
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
